.my-footer{
    height: 5em;
    background-color: rgb(40, 62, 103);
    color: White;
    margin-top: 1.5em;
    padding:1em;
    font-size: 80%;
  }
  .business-class{
    max-width: 80%;
  }
  .login{
    text-align: right;
  }
  .redText{
    color: red;
  }