{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class=" text-center mt-5">Check Availability</h1>
        <form method="post" action="/checkRooms" name="needs-no-valdation" novalidate class="needs-validation">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <div class="form-group">
                <div class="row" id="reservation-date">
                    <div class="col" >
                        <input type="text" required name="start" class="form-control" placeholder="start-date" id="date">
                    </div>
                    <div class="col">
                        <input type="text" required name="end" class="form-control" placeholder="end-date" id="date">
                    </div>
                </div>
          </div>
          <hr>
          <button type="submit" href="/checkrooms" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        const elem = document.getElementById("reservation-date");
        const rangepicker = new DateRangePicker(elem, {
        format:"yyyy-mm-dd"
        });
    </script>
 
{{end}}