{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
      <div class="col">
        <img src="/static/images/business.jpeg" class="img-fluid img-thumbnail mx-auto d-block business-room" alt="business room">
      </div>
    </div>
    <div class="row">
       <h1 class="text-center mt-4">Reserve comfortable rooms</h1>
    </div>
    <div class="row">
      <div class="col">
          <p>
              A paragraph is defined as “a group of sentences or a single sentence
              that forms a unit” (Lunsford and Connors 116). Length and appearance 
              do not determine whether a section in a paper is a paragraph. 
              For instance, in some styles of writing, particularly journalistic styles, 
              a paragraph can be just one sentence long.    
           </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="/check-availability" class="btn btn-success">Check availability</a>
      </div>
    </div>
  </div>
{{end}}