{{template "base" .}}
{{define "content"}}
<div class="container col-md-6">
    <div class="row" >
      <div class="col-md-12">
        <h1 class="">Reserve available room</h1>
        <form method="" action="" name="needs-no-valdation" novalidate class="needs-validation">
          <div class="form-group">
            <div class="row" id="reservation-date">
              <div class="col" >
                <input type="text" required name="start" class="form-control" placeholder="start-date" id="date">
              </div>
              <div class="col">
                <input type="text" required name="start" class="form-control" placeholder="end-date" id="date">
              </div>
            </div>
          </div>
          <hr>
          <button type="submit" id="reserveButton" class="btn btn-primary">Reserve</button>
        </form>
      </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        const elem = document.getElementById("reservation-date");
        const rangepicker = new DateRangePicker(elem, {
        format:"yyyy-mm-dd"
        });
    </script>
 
{{end}}